@font-face {
  font-family: "iconfont"; /* Project id 2543291 */
  src: url('iconfont.woff2?t=1620801717358') format('woff2'),
       url('iconfont.woff?t=1620801717358') format('woff'),
       url('iconfont.ttf?t=1620801717358') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-mima:before {
  content: "\e64c";
}

.icon-iconfonticon-yonghu:before {
  content: "\e643";
}

